.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
*.iml
givedb
*.log
*.pot
*.pyc
*.sublime-project
*.sublime-workspace
local_settings.py
devdb
swagger-ui-
*.*.orig
.coverage
*.sqlite
staticCodeForIndia2015.iml